html {
    font-family: Roboto;
    color: #0E1215;
    line-height: 1.4;
    font-size: 1rem;
    background-color: white;
}

body {
    margin:0;
}

html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    boxing-sizing: border-box;
  }

header {
    background-color: #0E1215;
}

.first {
    background-color: #0E1215;
    text-align: center;

}

h1 {
    color: #fafafa
}

ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    justify-content: space-around;
    list-style-type: none;
}

a {
    color: #fafafa;
}

.about {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}
